body {
  background : #222222;
}
.keepcentered {
  width : 640px;
  height : 300px;
  margin-left : auto;
  margin-right : auto;
  margin-top: 200px;
  font-weight : 100;
}
body {
  font-family: 'Electrolize', sans-serif;
  font-style : normal;
  /*color: #d75f5f;*/
  color : #06989A;
  margin : 5px;
}
input, textarea, select {
  background-color: #222222;
  border: 1px solid #06989A;
  color : #06989A;
  font-family: 'Electrolize', sans-serif;
  padding: 10px;
}
td, tr {
  width: 20%;
  text-align: center;
}
th {
  width: 20%;
  font-weight: normal;
  text-align: center;
}
table input {
  width: 100%;
}
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color : #ccc;
}
a:hover{
  color: #eee;
}
a:link {
  text-decoration : none;
  text-shadow: 0px 0px 0px #000;
}
input#search {
  width: 100%;
  font-size: 18px;
}
div#time { font-size: 72px; }
div.history {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 45%;
}
input#historyText {width: 100%;}
div.notes { 
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  width: 45%;
}
textarea#noteText {height: 125px; width: 100%;}
